<h1 style='color:red'>Type Conversion</h1>

<p style='color:#191144'>Converting one type of data type into another data type such converting a string '12345' to and int data type as 12345 for this we type conversion as int_obj = int(str_obj) ---> x = int('12345'), here will be a int data type we get after converting string</p>

In [5]:
#Numbers
#only strings can be converted into number
#integer

x = int('1235')
print(x)
y = float('123.23')
print(y)
z = complex('12323.232+34j')
print(z)

1235
123.23
(12323.232+34j)

In [6]:
print(int.__doc__)

int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [8]:
int('100101',2) #binary to decimal

37

In [9]:
int('1235',8) #octal to decimal

669

In [11]:
int('abcdef',16) #hexa-decimal to decimal

11259375

In [12]:
#decimal to bin ? 
x = bin(37)
print(x)

0b100101

In [13]:
y = oct(669) #decimal to oct converion
print(y)

0o1235

In [15]:
z = hex(11259375) #decimal to hexadecimal
print(z)

0xabcdef

In [23]:
#Boolean Data Type True False
# What is False --> '', {}, (), [], None, False,0

x =   0 #None  # False () [] {} '' --> anything which does not have sense if flase
x = bool(x)
print(x)

False

In [24]:
#exect above everthing is true

l = [ 1,2,3]
print(bool(l))

True

In [25]:
d = { 'name':'sachin'}
print(bool(d))

True

In [26]:
x = -123
print(bool(x))

True

In [27]:
#king of programming data structures
#string so we can anything into string
l = { 'name':'sachin'}
#repr --> representation of string
s = str(l)
print(repr(s))

"{'name': 'sachin'}"

In [29]:
s = "\n\nhello\tworld\n"
print(s)
print(repr(s))

hello	world

'\n\nhello\tworld\n'

In [30]:
d = { 'name':'python','version':37}
s = str(d)
print(repr(s))

"{'name': 'python', 'version': 37}"

In [31]:
#list --> we can convert any sequence into a list

s = 'python'
l = list(s)
print(l)

['p', 'y', 't', 'h', 'o', 'n']

In [32]:
t = (1,23,5)
l = list(t)
print(l)

[1, 23, 5]

In [33]:
d = { 'name':'python','age':38,'version':3.7}
l = list(d)
print(l)

['name', 'age', 'version']

In [34]:
d = { 'name':'python','age':38,'version':3.7}
l = list(d.values())
print(l)

['python', 38, 3.7]

In [35]:
d = { 'name':'python','age':38,'version':3.7}
l = list(d.items())
print(l)

[('name', 'python'), ('age', 38), ('version', 3.7)]

In [36]:
#tuples also follows same rules as list

s = { 1,23,'python',5,6,7}
t = tuple(s)
print(t)

(1, 5, 6, 7, 23, 'python')

In [44]:
#for dictionary we have dict function
#for dictionary conversion we should key-value pairs
s = [ 'ab', 'cd','ef','gh','ij','kl' ]
d = dict(s)
print(d)

{'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h', 'i': 'j', 'k': 'l'}

In [42]:
d = dict([1,23,5,23])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [43]:
l = [(1,'hi'),(23,'bye'),(5,'sachin'),(6,'python'),('java',34)]
d = dict(l)
print(d)

{1: 'hi', 23: 'bye', 5: 'sachin', 6: 'python', 'java': 34}

In [45]:
'ab'[0]

'a'

In [46]:
'ab'[1]

'b'

In [47]:
('hello','hi')[0]

'hello'

In [48]:
('hello','hi')[1]

'hi'

In [49]:
dict('ab','cd','ef','gh')

TypeError: dict expected at most 1 arguments, got 4

In [50]:
k = [ 'abcd','ef']

In [52]:
len('abc')

3

In [53]:
set('sequence')

{'c', 'e', 'n', 'q', 's', 'u'}

In [54]:
set([1,23,4])

{1, 4, 23}

In [55]:
set((123,'hei',123,'h3ll'))

{123, 'h3ll', 'hei'}

In [59]:
s = frozenset({'name':'sachin','age':22}.items())

In [60]:
print(s)

frozenset({('age', 22), ('name', 'sachin')})

In [64]:
l = list(range(1,101))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [66]:
x = zip([1,2,3,4,5],['a','b','c','d'])
d = dict(x)
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [70]:
x = zip([1,2,3,4,5],['a','b','c','d'])
l = list(x)
print(l)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
hash)