In [23]:
myfile = open("C:/users/sachin/Desktop/hello.txt")#default readonly

In [24]:
data = myfile.read()
print(data)
myfile.close()

name,course,fees,due
neha,datascience,15000,3000
poonam,django,10000,2500
manish,datascience,15000,3500
himansu,datascience,15000,1500
ramwatar,linux,8000,2000
sudharshan,devops,20000,5000
jitu,hacking,15000,2500
sachin,python,20000,10000

In [8]:
print(repr(data)[:100])

'name,course,fees,due\nneha,datascience,15000,3000\npoonam,django,10000,2500\nmanish,datascience,150

In [9]:
data = data.split('\n')
print(data)

['name,course,fees,due', 'neha,datascience,15000,3000', 'poonam,django,10000,2500', 'manish,datascience,15000,3500', 'himansu,datascience,15000,1500', 'ramwatar,linux,8000,2000', 'sudharshan,devops,20000,5000', 'jitu,hacking,15000,2500']

In [16]:
d = []
for line in data : 
    line = line.split(',')
    #print(repr(line))
    #print("due = ",line[-1])
    d.append(line[-1])

In [18]:
print(d)
d = d[1:]
print(d)

['due', '3000', '2500', '3500', '1500', '2000', '5000', '2500']
['3000', '2500', '3500', '1500', '2000', '5000', '2500']

In [19]:
d1 = []
for var in d : 
    d1.append(int(var))

In [20]:
print(d1)

[3000, 2500, 3500, 1500, 2000, 5000, 2500]

In [21]:
sum(d1)

20000

In [22]:
f = open('C:/users/sachin/desktop/hello.txt','a')
data = "\nsachin,python,20000,10000" 

f.write(data)
f.close()

In [27]:
with open('C:/users/sachin/desktop/hello.txt') as myfile : 
    for line in myfile : 
        sep = line.split(',')
        print(*sep,sep='\t\t')

name		course		fees		due

neha		datascience		15000		3000

poonam		django		10000		2500

manish		datascience		15000		3500

himansu		datascience		15000		1500

ramwatar		linux		8000		2000

sudharshan		devops		20000		5000

jitu		hacking		15000		2500

sachin		python		20000		10000

In [28]:
f = open('C:/users/sachin/desktop/hello.txt')

In [29]:
f.name

'C:/users/sachin/desktop/hello.txt'

In [31]:
f.seekable()

True

In [32]:
f.readable()

True

In [34]:
f.writable()

False

In [35]:
f.mode

'r'

In [36]:
f.encoding

'cp1252'

In [37]:
one_line = f.readline()

In [38]:
print(one_line)

name,course,fees,due

In [39]:
f.tell()

22

In [40]:
data = f.readline()
print(data)

neha,datascience,15000,3000

In [41]:
data = f.readlines(3)

In [42]:
data

['poonam,django,10000,2500\n']

In [43]:
f.seek(0)

0

In [44]:
for var in range(5):
    print(f.readline())

name,course,fees,due

neha,datascience,15000,3000

poonam,django,10000,2500

manish,datascience,15000,3500

himansu,datascience,15000,1500

In [45]:
dir(f)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [46]:
f.readlines??

In [47]:
data = { 'name':'sachin','age':22,'country':"India",'blood_group':'B+ve'}

In [48]:
f = open('C:/users/sachin/desktop/sachin.txt','w')

In [49]:
f.write(data)

TypeError: write() argument must be str, not dict

In [50]:
#bytestream --> pickle, json
import json

In [51]:
json.dump(data,f)

In [52]:
f.close()

In [53]:
f = open('/users/sachin/desktop/sachin.txt')

In [54]:
data = json.load(f)
f.close()

In [55]:
print(data)

{'name': 'sachin', 'age': 22, 'country': 'India', 'blood_group': 'B+ve'}

In [56]:
type(data)

dict